{% extends "base_generic.html" %} {% block sidebar %} {% endblock sidebar %} 
{% block content %}

<div class="login-wrapper">
  <h1>Login</h1>
  <form action="{% url 'login' %}" method="POST">
    {% csrf_token %}

    <div class="input-wrapper"><label>Username</label> {{ form.username }}</div>

    <div class="input-wrapper"><label>Password</label> {{ form.password }}</div>
    {% if form.errors %}
    <p class="error">Your username and password didn't match. Please try again.</p>
    {% endif %} {% if next %} {% if user.is_authenticated %}

    <p class="error">
      Your account doesn't have access to this page. To proceed, please login
      with an account that has access.
    </p>

    {% else %}

    <p class="error">Please login to see this page.</p>

    {% endif %} {% endif %}
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{next}}" />
    <p class="help-text">Don't have an account? <a href="{% url 'signup' %}">Signup</a> </p>
  </form>
</div>

{% endblock %}
