{% extends "base_generic.html" %}

{% block title %}

  Authors

{% endblock title %}

{% block content %}

<div class="header">
  <h1>Author List</h1>
  {% if perms.catalog.add_author %}
  <a href="{% url 'author-create' %}" class="btn btn-large bg-green c-white fw-600">Add Author</a>
  {% endif %}
</div>

{% if author_list %}

<ul class="list">
  {% for author in author_list %}

  <li>
    <a href="{{ author.get_absolute_url }}">
      {{author.first_name}} {{author.last_name}}
    </a>
  </li>

  {% endfor %}
</ul>

{% else %}

<p>There are no authors in the database</p>

{% endif %} {% endblock %}
