{% extends "base_generic.html" %} {% block content %}

<div class="header">
  {% if object %}
  <h1>Update book</h1>
  {% else %}
  <h1>Add a book</h1>
  {% endif %}
</div>

<form action="" method="POST" class="form">
  {% csrf_token %}

  <div class="row">
    <div class="col-md-3">
      <label for="">Title</label>
      {{form.title}}
    </div>

    <div class="col-md-3">
      <label for="">
        Author
        <a href="{% url 'author-create' %}?next=/catalog/book/create/">
          <div class="icon-btn-wrapper ml-2">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>    
          </div>
        </a>
      </label>
      {{form.author}}
    </div>

    <div class="col-md-3">
      <label for="">ISBN</label>
      {{form.isbn}}
    </div>

    <div class="col-md-3">
      <label for="">Number of pages</label>
      {{form.number_of_pages}}
    </div>

    <div class="col-md-3">
      <label for="">
        Genre
        <a href="{% url 'genre-create' %}?next=/catalog/book/create/">
          <div class="icon-btn-wrapper ml-2">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>    
          </div>
        </a>
      </label>
      {{form.genre}}
    </div>

    <div class="col-md-3">
      <label for="">Language</label>
      {{form.language}}
    </div>

    <div class="col-md-6">
      <label for="">Summary</label>
      {{form.summary}}
    </div>

    <div class="col-md-12">
      <button type="submit" class="bg-green c-white fw-600 mt-2">Submit</button>
    </div>
  </div>
</form>

{% endblock content %}
