{% extends "base_generic.html" %}

{% block title %}

  {{publisher.name}}
  
{% endblock title %}

{% block content %}

<div class="header">
  <h1>{{ publisher.name }}</h1>

  {% if perms.catalog.change_publisher %}
  <div class="actions">
    <a
      href="{% url 'publisher-update' publisher.pk %}"
      class="btn bg-yellow c-white"
      >Edit</a
    >
    <a
      href="{% url 'publisher-delete' publisher.pk %}"
      class="btn bg-red c-white"
      >Delete</a
    >
  </div>
  {% endif %}
</div>

<h4>Books Copies</h4>
<div style="margin-left: 20px; margin-top: 20px">
  <ul class="list">
    {% for bookinstance in publisher.bookinstance_set.all %}
    <li class="{% if bookinstance.is_overdue %}text-danger{% endif %}">
      <a href="{% url 'book-detail' bookinstance.book.pk %}">
        {{ bookinstance.book.title }}
      </a>
      {{bookinstance.due_back}} | {{bookinstance.borrower}}
    </li>
    {% empty %}

    <p>No books found!</p>

    {% endfor %}
  </ul>
</div>

{% endblock %}
