{% extends "base_generic.html" %} {% block content %}

<h1>{{ publisher.name }}</h1>

<div style="margin-left: 20px; margin-top: 20px">
  <h4>Books Copies</h4>

  {% for bookinstance in publisher.bookinstance_set.all %}
  <li class="{% if bookinstance.is_overdue %}text-danger{% endif %}">
    <a href="{% url 'book-detail' bookinstance.book.pk %}">
      {{ bookinstance.book.title }}
    </a>
    {{bookinstance.due_back}}
    |
    {{bookinstance.borrower}}
  </li>
  <hr />
  {% empty %}

  <p>No books found!</p>

  {% endfor %}
</div>

{% endblock %}
