{% extends "base_generic.html" %}

{% block title %}

  {% if object %}
  Edit Publisher
  {% else %}
  Add Publisher
  {% endif %}

{% endblock title %}

{% block content %}

<div class="header">
  {% if object %}

  <h1>Edit Publisher</h1>

  {% else %}

  <h1>Add Publisher</h1>

  {% endif %}
</div>

<form action="" method="POST">
  {% csrf_token %}

  <div class="row">
    <div class="col-md-4">
      <label for="">Name</label>
      {{form.name}}
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <input
        type="submit"
        class="btn btn-large bg-green c-white fw-600 mt-2"
        value="Submit"
      />
    </div>
  </div>
</form>

{% endblock content %}
