{% extends "base_generic.html" %} {% block content %}

<div class="header">
  <h1>Publisher List</h1>

  
  {% if perms.catalog.add_publisher %}

  <a href="{% url 'publisher-create' %}" class="btn btn-large bg-green c-white fw-600">Add Publisher</a>  
    
  {% endif %}
    

</div>

{% if publisher_list %}

<ul class="list">
  {% for publisher in publisher_list %}

  <li>
    <a href="{{ publisher.get_absolute_url }}">
      {{ publisher.name }}
    </a>
  </li>

  {% endfor %}
</ul>

{% else %}

<p>There are no publishers found in the database</p>

{% endif %} {% endblock %}
